.main .container-fluid {
    padding: 0 30px 10px 30px;
}

h2 {
    margin: 0 0 0.5em 0;
}

.fields-error {
    color: #f86c6b;
}

.fields-remove-button {
    margin-top: 29px;
    color: #FFF !important;
    cursor: pointer;
}

.required {
    color: red;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.nav-flag {
    min-width: 30px !important;
}

.nav-flag .btn {
    border: none;
}

.flag {
    width: 20px;
    height: 20px;
    display: block;
    background-size: 20px 20px;
}

.flag-br {
    background-image: url('../img/flags/Brazil.png');
}

.flag-us {
    background-image: url('../img/flags/USA.png');
}

